html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: "source sans pro";
}

a{
    font-family: "source sans pro";
}

h1{
    color:#F8B500;
    font-size: 1.5rem;
}

.container{
    max-width: 55rem;
    margin: auto;
}

.txt-animation{
    overflow: hidden;
}
