.details{
  padding: 2rem;
}

.details .nav {
  margin-top: 8rem;
  width: 9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.35rem;
  color: #333333;
  margin-bottom: 3.75rem;
}

@media screen and (max-width: 420px){
  .details .nav{
    margin-top: 1rem;
  }
}

.details .project-title{
  overflow: hidden;
}

.details .project-title h2{
  color: black;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0;
}

.details .info {
  margin-top: 3.75rem;
}

.details .item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.7rem;
  color: #333333;
  overflow: hidden;
}

.details .title {
  width: 15rem;
  height: 1.7rem;
  font-weight: bold;
}

.details .stack-items ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.details .stack-items li {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.details h2 {
  margin-top: 4.5rem;
}

.details p {
  line-height: 2rem;
}

.player {
  display: flex;
  justify-content: center;
  margin-top: 4.5rem;
}

.details .float-right{
    float: right;
    width: 13rem
}