.layout {
  display: flex;
  justify-content: space-between;
  padding: 10rem 2rem;
  flex-wrap: wrap;
}

.layout .content{
  width: 38rem;
  line-height: 1.6rem;
}

.layout h1{
  margin-top: 0;
}

.color{
  background-color: #FAFAFA;
}

@media screen and (max-width: 420px) {
  .layout{
    padding: 5rem 2rem;
  }
}